@model int

<div class="container row pt-4">
    <div class="col-12 text-black text-center">
        <h1 class="text-center">Thank You</h1>

        <h1 class="text-center">Order Succesfully Placed</h1>
        Your Transaction ID : @Model <br/><br/>
        <img src="~/images/order.png" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
       
    </div>

</div> 